 <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="BootstrapBrain Logo" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/card-rfid">Card RFID</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">History</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logs</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link menu-login" style="display: none;" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-logout" style="display: none;" href="#" id="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
