    <!-- Login Form -->
    <div class="fix-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <div class="card mb-0 h-auto">
                        <div class="card-body">
                            <div class="text-center mb-2">
                                <a href="/">
                                    <img src="/images/logo.png" alt="BootstrapBrain Logo" width="50">
                                </a>
                            </div>
                            <h4 class="text-center mb-4">Sign in</h4>
                            <form action="#" id="form-login">
                                <div class="form-group">
                                    <label class="form-label" for="username">Username</label>
                                    <input type="text" class="form-control" placeholder="username" id="username" name="username" value="admin">
                                </div>
                                <div class="mb-4 position-relative">
                                    <label class="form-label" for="dlabPassword">Password</label>
                                    <input type="password" id="dlabPassword" class="form-control" name="password" value="admin">
                                    <span class="show-pass eye">
                                        <i class="fa fa-eye-slash"></i>
                                        <i class="fa fa-eye"></i>
                                    </span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- <script src="/js/auth/check.js"></script> --}}
<script src="/js/auth/login.js"></script>